USE [master]
GO
/****** Object:  Database [Dolasci]    Script Date: 21.10.2019. 16:28:20 ******/
CREATE DATABASE [Dolasci]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Dolasci', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Dolasci.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Dolasci_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Dolasci_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Dolasci].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Dolasci]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 21.10.2019. 16:28:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dolasci]    Script Date: 21.10.2019. 16:28:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dolasci](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[radnikId] [int] NOT NULL,
	[dosaoU] [datetime2](7) NOT NULL,
	[otisaoU] [datetime2](7) NOT NULL,
	[obrokId] [int] NULL,
 CONSTRAINT [PK_dolasci] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[obroci]    Script Date: 21.10.2019. 16:28:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[obroci](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[naziv] [nvarchar](max) NULL,
 CONSTRAINT [PK_obroci] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[podrazumevaniDolasci]    Script Date: 21.10.2019. 16:28:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[podrazumevaniDolasci](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[radnikId] [int] NOT NULL,
	[dosaoU] [datetime2](7) NOT NULL,
	[otisaoU] [datetime2](7) NOT NULL,
	[obrokId] [int] NULL,
 CONSTRAINT [PK_podrazumevaniDolasci] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[radnici]    Script Date: 21.10.2019. 16:28:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[radnici](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ime] [nvarchar](max) NOT NULL,
	[prezime] [nvarchar](max) NOT NULL,
	[adresa] [nvarchar](max) NOT NULL,
	[datumRodjenja] [datetime2](7) NOT NULL,
	[datumZaposlenja] [datetime2](7) NOT NULL,
	[brojTelefona] [nvarchar](max) NULL,
	[aktivan] [bit] NOT NULL,
 CONSTRAINT [PK_radnici] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20190121154812_prva', N'2.2.3-servicing-35854')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20190129103815_mi', N'2.2.3-servicing-35854')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20190129104350_m', N'2.2.3-servicing-35854')
SET IDENTITY_INSERT [dbo].[dolasci] ON 

INSERT [dbo].[dolasci] ([id], [radnikId], [dosaoU], [otisaoU], [obrokId]) VALUES (3632, 6, CAST(N'2019-10-07T09:00:57.2650000' AS DateTime2), CAST(N'2019-10-07T17:00:57.2650000' AS DateTime2), NULL)
INSERT [dbo].[dolasci] ([id], [radnikId], [dosaoU], [otisaoU], [obrokId]) VALUES (3635, 6, CAST(N'2019-10-07T08:00:33.3440000' AS DateTime2), CAST(N'2019-10-07T15:00:33.3440000' AS DateTime2), 1)
INSERT [dbo].[dolasci] ([id], [radnikId], [dosaoU], [otisaoU], [obrokId]) VALUES (3637, 6, CAST(N'2019-10-07T09:00:55.0360000' AS DateTime2), CAST(N'2019-10-07T16:00:55.0360000' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[dolasci] OFF
SET IDENTITY_INSERT [dbo].[obroci] ON 

INSERT [dbo].[obroci] ([id], [naziv]) VALUES (1, N'da')
SET IDENTITY_INSERT [dbo].[obroci] OFF
SET IDENTITY_INSERT [dbo].[podrazumevaniDolasci] ON 

INSERT [dbo].[podrazumevaniDolasci] ([id], [radnikId], [dosaoU], [otisaoU], [obrokId]) VALUES (1, 6, CAST(N'2019-10-04T09:00:43.5890000' AS DateTime2), CAST(N'2019-10-04T16:00:43.5890000' AS DateTime2), 1)
INSERT [dbo].[podrazumevaniDolasci] ([id], [radnikId], [dosaoU], [otisaoU], [obrokId]) VALUES (3, 7, CAST(N'2019-04-03T08:00:00.0000000' AS DateTime2), CAST(N'2019-04-03T15:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[podrazumevaniDolasci] ([id], [radnikId], [dosaoU], [otisaoU], [obrokId]) VALUES (4, 12, CAST(N'2019-04-03T08:00:00.0000000' AS DateTime2), CAST(N'2019-04-03T15:00:00.0000000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[podrazumevaniDolasci] OFF
SET IDENTITY_INSERT [dbo].[radnici] ON 

INSERT [dbo].[radnici] ([id], [ime], [prezime], [adresa], [datumRodjenja], [datumZaposlenja], [brojTelefona], [aktivan]) VALUES (6, N'Gavrilo', N'Topalovic', N'Stari Banovci', CAST(N'1998-01-04T12:15:00.0000000' AS DateTime2), CAST(N'2019-05-25T11:15:00.0000000' AS DateTime2), N'0641119379', 0)
INSERT [dbo].[radnici] ([id], [ime], [prezime], [adresa], [datumRodjenja], [datumZaposlenja], [brojTelefona], [aktivan]) VALUES (7, N'Tamara', N'Martinovic', N'45 blok', CAST(N'1997-07-10T11:15:00.0000000' AS DateTime2), CAST(N'2019-04-01T11:15:00.0000000' AS DateTime2), N'0625239379', 0)
INSERT [dbo].[radnici] ([id], [ime], [prezime], [adresa], [datumRodjenja], [datumZaposlenja], [brojTelefona], [aktivan]) VALUES (12, N'Gvono', N'Govnarevic', N'Govnograd', CAST(N'1984-12-15T12:15:00.0000000' AS DateTime2), CAST(N'2015-02-24T12:15:00.0000000' AS DateTime2), N'063govno', 0)
SET IDENTITY_INSERT [dbo].[radnici] OFF
/****** Object:  Index [IX_dolasci_obrokId]    Script Date: 21.10.2019. 16:28:21 ******/
CREATE NONCLUSTERED INDEX [IX_dolasci_obrokId] ON [dbo].[dolasci]
(
	[obrokId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_dolasci_radnikId]    Script Date: 21.10.2019. 16:28:21 ******/
CREATE NONCLUSTERED INDEX [IX_dolasci_radnikId] ON [dbo].[dolasci]
(
	[radnikId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_podrazumevaniDolasci_obrokId]    Script Date: 21.10.2019. 16:28:21 ******/
CREATE NONCLUSTERED INDEX [IX_podrazumevaniDolasci_obrokId] ON [dbo].[podrazumevaniDolasci]
(
	[obrokId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_podrazumevaniDolasci_radnikId]    Script Date: 21.10.2019. 16:28:21 ******/
CREATE NONCLUSTERED INDEX [IX_podrazumevaniDolasci_radnikId] ON [dbo].[podrazumevaniDolasci]
(
	[radnikId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[radnici] ADD  DEFAULT ((0)) FOR [aktivan]
GO
ALTER TABLE [dbo].[dolasci]  WITH CHECK ADD  CONSTRAINT [FK_dolasci_obroci_obrokId] FOREIGN KEY([obrokId])
REFERENCES [dbo].[obroci] ([id])
GO
ALTER TABLE [dbo].[dolasci] CHECK CONSTRAINT [FK_dolasci_obroci_obrokId]
GO
ALTER TABLE [dbo].[dolasci]  WITH CHECK ADD  CONSTRAINT [FK_dolasci_radnici_radnikId] FOREIGN KEY([radnikId])
REFERENCES [dbo].[radnici] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[dolasci] CHECK CONSTRAINT [FK_dolasci_radnici_radnikId]
GO
ALTER TABLE [dbo].[podrazumevaniDolasci]  WITH CHECK ADD  CONSTRAINT [FK_podrazumevaniDolasci_obroci_obrokId] FOREIGN KEY([obrokId])
REFERENCES [dbo].[obroci] ([id])
GO
ALTER TABLE [dbo].[podrazumevaniDolasci] CHECK CONSTRAINT [FK_podrazumevaniDolasci_obroci_obrokId]
GO
ALTER TABLE [dbo].[podrazumevaniDolasci]  WITH CHECK ADD  CONSTRAINT [FK_podrazumevaniDolasci_radnici_radnikId] FOREIGN KEY([radnikId])
REFERENCES [dbo].[radnici] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[podrazumevaniDolasci] CHECK CONSTRAINT [FK_podrazumevaniDolasci_radnici_radnikId]
GO
USE [master]
GO
