<div class="container">

  <h1>Novi Radnik</h1>
    <form (ngSubmit)="onSubmit();" #forma="ngForm">
  
      <div class="form-group">
        <label for="ime">Ime:</label>
        <input type="text" placeholder="Unesite ime" class="form-control" id="ime" [(ngModel)]="radnik.ime" name="ime">
      </div>
  
      <div class="form-group">
          <label for="prezime">Prezime:</label>
          <input type="text" placeholder="Unesite prezime" class="form-control" id="prezime" [(ngModel)]="radnik.prezime" name="prezime">
        </div>
  
        <div class="form-group">
            <label for="adresa">Adresa:</label>
            <input type="text" placeholder="Unesite adresu" class="form-control" id="adresa" [(ngModel)]="radnik.adresa" name="adresa">
          </div>
  
          <div class="form-group">
              <label for="brojTelefona">Broj telefona:</label>
              <input type="text" class="form-control" placeholder="Unesite broj telefona" id="brojTelefona" [(ngModel)]="radnik.brojTelefona" name="brojTelefona">
            </div>
  
            <div class="form-group">
                <label for="datumZaposlenja">Datum zaposlenja:</label>
                <input type="text" class="form-control" placeholder="00/00/0000" value="{{dZaposlenja}}" id="datumZaposlenja" [(ngModel)]="dZaposlenja" name="datumZaposlenja">
              </div>
  
              <div class="form-group">
                  <label for="datumRodjenja">Datum rodjenja:</label>
              <input type="text" class="form-control" placeholder="00/00/0000" value="{{dRodjenja}}" id="datumRodjenja" [(ngModel)]="dRodjenja" name="datumRodjenja">
                </div>
  
                <a [routerLink]="['/radnici']"><button class="btn btn-danger">Odustani</button></a>
                <button type="submit" class="btn btn-success">Unesi</button>
                
    </form>  
  
  </div>
  